# Limited configuration instead of default_config
# https://www.home-assistant.io/integrations/default_config
automation:
frontend:
history:
isal:
logbook:
zeroconf:

homeassistant:
  name: HACS-Vivint
  auth_providers:
    - type: trusted_networks
      trusted_networks:
        - 127.0.0.1
        - 192.0.0.0/8
        - ::1
      allow_bypass_login: true
    - type: homeassistant

logger:
  default: info
  logs:
    custom_components.vivint: debug
    vivintpy: debug
    pubnub: debug
